<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MapMutilNavigation1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet> 
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>Servlet.GetUserInfoServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/GetUserInfoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>recordMyLocationServlet</servlet-name>
    <servlet-class>Servlet.recordMyLocationServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>recordMyLocationServlet</servlet-name>
    <url-pattern>/recordMyLocationServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebGetLocationServlet</servlet-name>
    <servlet-class>Servlet.WebGetLocationServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebGetLocationServlet</servlet-name>
    <url-pattern>/WebGetLocationServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GetUserInfoListServlet</servlet-name>
    <servlet-class>Servlet.GetUserInfoListServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoListServlet</servlet-name>
    <url-pattern>/GetUserInfoListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebGetListNumServlet</servlet-name>
    <servlet-class>Servlet.WebGetListNumServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebGetListNumServlet</servlet-name>
    <url-pattern>/WebGetListNumServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebGetOrdersServlet</servlet-name>
    <servlet-class>Servlet.WebGetOrdersServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebGetOrdersServlet</servlet-name>
    <url-pattern>/WebGetOrdersServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebAsignedOrdersServlet</servlet-name>
    <servlet-class>Servlet.WebAsignedOrdersServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebAsignedOrdersServlet</servlet-name>
    <url-pattern>/WebAsignedOrdersServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebGetFreeUserInfoServlet</servlet-name>
    <servlet-class>Servlet.WebGetFreeUserInfoServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebGetFreeUserInfoServlet</servlet-name>
    <url-pattern>/WebGetFreeUserInfoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebGetAllOrdersServlet</servlet-name>
    <servlet-class>Servlet.WebGetAllOrdersServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebGetAllOrdersServlet</servlet-name>
    <url-pattern>/WebGetAllOrdersServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebGetIsAsignedOrdersServlet</servlet-name>
    <servlet-class>Servlet.WebGetIsAsignedOrdersServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebGetIsAsignedOrdersServlet</servlet-name>
    <url-pattern>/WebGetIsAsignedOrdersServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebGetHaveAsignedOrdersServlet</servlet-name>
    <servlet-class>Servlet.WebGetHaveAsignedOrdersServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebGetHaveAsignedOrdersServlet</servlet-name>
    <url-pattern>/WebGetHaveAsignedOrdersServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebGetOrdersDetailByIdServlet</servlet-name>
    <servlet-class>Servlet.WebGetOrdersDetailByIdServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebGetOrdersDetailByIdServlet</servlet-name>
    <url-pattern>/WebGetOrdersDetailByIdServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebEditOrdersServlet</servlet-name>
    <servlet-class>Servlet.WebEditOrdersServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebEditOrdersServlet</servlet-name>
    <url-pattern>/WebEditOrdersServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebDeleteOrdersServlet</servlet-name>
    <servlet-class>Servlet.WebDeleteOrdersServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebDeleteOrdersServlet</servlet-name>
    <url-pattern>/WebDeleteOrdersServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebGetAsignedOrdersServlet</servlet-name>
    <servlet-class>Servlet.WebGetAsignedOrdersServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebGetAsignedOrdersServlet</servlet-name>
    <url-pattern>/WebGetAsignedOrdersServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebEditUserServlet</servlet-name>
    <servlet-class>Servlet.WebEditUserServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebEditUserServlet</servlet-name>
    <url-pattern>/WebEditUserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WebDeleteUserServlet</servlet-name>
    <servlet-class>Servlet.WebDeleteUserServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebDeleteUserServlet</servlet-name>
    <url-pattern>/WebDeleteUserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MyWebSocketServlet</servlet-name>
    <servlet-class>Servlet.MyWebSocketServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyWebSocketServlet</servlet-name>
    <url-pattern>/MyWebSocketServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GetAsignedOrderByTelServlet</servlet-name>
    <servlet-class>Servlet.GetAsignedOrderByTelServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAsignedOrderByTelServlet</servlet-name>
    <url-pattern>/GetAsignedOrderByTelServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>pushTest</servlet-name>
    <servlet-class>Servlet.pushTest</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>pushTest</servlet-name>
    <url-pattern>/pushTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RecordNeckAngleServlet</servlet-name>
    <servlet-class>Servlet.RecordNeckAngleServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordNeckAngleServlet</servlet-name>
    <url-pattern>/RecordNeckAngleServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RecordTimeServlet</servlet-name>
    <servlet-class>Servlet.RecordTimeServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordTimeServlet</servlet-name>
    <url-pattern>/RecordTimeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GetTimeServlet</servlet-name>
    <servlet-class>Servlet.GetTimeServlet</servlet-class>
  	<init-param>
  		<param-name></param-name>
  		<param-value></param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTimeServlet</servlet-name>
    <url-pattern>/GetTimeServlet</url-pattern>
  </servlet-mapping>
</web-app>
  